@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2'),
        url('../fonts/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
    margin: 0;
}